body {
    margin: 0;
    margin-top: 80px;
}
    
.publication-image {
	width: 200px;
	height: max-content;
}

.publication-image-default {
	width: 200px;
	height: 60px;
}

.publication-icon {
	font-size: 1.5em;
}

.publication-title {
	font-weight: bold;
}