.publication-image {
	width: 200px;
}

.publication-image-default {
	width: 200px;
	height: 60px;
}

.publication-icon {
	font-size: 1.5em;
}

.publication-title {
	font-weight: bold;
}

.dropdown-item {
	color: rgba(241, 90, 36);
}

@media (max-width: 992px) {
	.publication-image {
		width: 150px;
		padding: 5px;
	}
}